<html>
    <head>
          <link rel='stylesheet' href="{{ url_for('static', filename='css/img.css') }}">
    </head>
    
    <body>
        <h1> 
            选择您比较喜欢的那张脸.<br/>
            如果都不喜欢，可以选择跳过（skip）.<br/>
            做完会自动登出，请不要中途关闭程序，答案将不会保存...<br/>
            剩余:{{left}}次
        </h1>
        
        <form method="post">
        <div class="first" >
            <input type="submit" class="imgbutton" style="background-image:url('{{url_for('static', filename='wdata/'+img1)}}')" 
            id={{value1}}  
            value=" "
            onclick="copyname(this.id)"><br/>
        </div>
        <div class="second">
            <input type="submit" class="imgbutton" style="background-image:url('{{url_for('static', filename='wdata/'+img2)}}')" 
            id={{value2}} 
            value=" "
            onclick="copyname(this.id)"><br/>
        </div>
        
        <div class="bottom">
            <input type="hidden" name="like" value="" id="like"><br/>
            
            <button type="submit" class="btn" >skip</button>
        </div>
        
        <script>
            function copyname(clicked_id){
                document.getElementById("like").value=clicked_id;
            }
        </script>
        </form>   
        
    </body>
</html>
